@page
@model CLDV6212_POE_Part1_st10152431.Views.Home.CollectItemModel
@{
}
<body>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <h1 id="h3"> Collect Items </h1>
    <p1>Welcome to ABC Retail, your one-stop destination for all your shopping needs! At ABC Retail, we're committed to bringing you the best products at unbeatable prices. Whether you're looking for the latest in fashion, electronics, home essentials, or anything in between, we've got you covered. Our easy-to-navigate platform ensures a seamless shopping experience, and our dedicated customer service team is always here to assist you. Shop with confidence, knowing that ABC Retail is here to meet all your expectations. Happy shopping!</p1>




</body>



